html{
  font-size: 62.5%;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

.container{
  background-color: rgb(0, 0, 0, .6);
  backdrop-filter: blur(8px);
  position: fixed;
  overflow: auto;
  max-height: 100vh;
  color: white;
  z-index: 67;
}

.hide-container{
  display: none;
}

.char__img{
  width: 40rem;
  height: 40rem;
}

ul{
  list-style: none;
  font-size: 1.5rem;
margin: 1rem;}

.facts{
  display: flex;
  gap: 5rem;
}

.char__name{
  font-weight: bold;
  font-size: 2.5rem;
}
nav {
  padding: 1rem 2rem;
  background-color: #212121;
  color: #fff;
  margin-bottom: 2rem;
}

.box1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.comment__title{
  font-size: 2rem;
}

.logo {
  color: #fff;
  margin-right: 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.comments__box{
  display: flex;
  flex-direction: column;
}
.menu li {
  list-style: none;
  cursor: pointer;
  color: #fff;
  margin-right: 1rem;
}



.form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.api-display {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.box2{
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}
.card {
  width: 30%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.card img {
  width: 100%;
  height: 350px;
  margin-bottom: 1rem;
}

.image-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.image-name h2 {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.likes-count {
  text-align: right;
  margin-bottom: 2rem;
}

.image-name i {
  font-size: 1.5rem;
  color: #ff0000;
}

button {
  background-color: #212121;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.cross{
  font-size: 3rem;
  position: fixed;
  top: 5px;
  right: 5px;
}

.comment__list{
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  color: gold;
  margin: 1rem;
}

.counter{
  font-size: 2rem;
  margin: 1rem;
}

@media only screen and (max-width: 720px) {
  .card {
    width: 100%;
  }
}

